<div class="container mt-4">
    <div class="mb-3">
        <label for="inputText1" class="form-label">User name</label>
        <input type="text" class="form-control" id="inputText1" placeholder="Enter text for user name"
        [(ngModel)]="incomingUserName"
        >
    </div>
    <div class="mb-3">
        <label for="inputText2" class="form-label">User eye color</label>
        <input type="text" class="form-control" id="inputText2" placeholder="Enter text for user eye color"
        [(ngModel)]="incomingUserEyeColor"
        >
    </div>
    <button class="btn btn-primary" (click)="sendInputData()">Get texts</button>
</div>