<div class="container">
    <h1>Users List</h1>
    <div class="list-group">
        <a class="mb-1"
            *ngFor="let student of students"
            (click)="onEdit(student.id)"
        >
            {{ student.name }}
        </a>
       <!--  <p class="mb-1">
          Status: <span [ngClass]="student.status ? 'text-success' : 'text-danger'">{{ user.status ? 'Active' : 'Inactive' }}</span>
        </p> -->
    </div>
    <button class="btn btn-primary mt-3" >Navigate to Children</button>
  </div>

  
  
